$primary: hsla(145, 63%, 42%, 1);
$lite_primary: hsla(120, 100%, 50%, 0.1);
$dark: hsla(240, 31%, 25%, 1);
$dark2: hsla(0, 0%, 20%, 1);
$gray: hsla(0, 0%, 40%, 1);
$lite_gray: hsla(0, 0%, 93%, 1);
$white: hsla(0, 100%, 100%, 1);
$off_white: hsla(0, 0%, 97%, 1);
$border: hsla(0, 0%, 0%, 0.3);
$shadow: hsla(0, 0%, 0%, 0.1);
$dark_shadow: hsla(0, 0%, 0%, 0.3);
$icon_bg: hsla(0, 0%, 0%, 0.05);
$star: hsla(51, 100%, 50%, 1);
$box_shadow: 0 0.5rem 1rem $shadow;